.banner {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    background-color: aquamarine;
}

.img-banner {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.h-green {
    border-radius: 3px;
}

.h-green:hover {
    background-image: linear-gradient(to right, rgb(10, 230, 10), green);  
    color: white;
}
.b-green{
    border-bottom: 1px solid rgb(195, 197, 195);
}

/* slide*/
.slide{
   margin-left: auto;
   margin-right: auto; 
   overflow: hidden; 
}

.nav-slide {
    position: absolute;
    padding: 10px;
    overflow: hidden;
    right: 0;  
}

.nav-slide a {
    display: block;
    padding: 20px;
    border-top: 1px groove;
    border-bottom: 1px groove;
    background-color: transparent;
    text-align: center;
}
.nav-slide a:hover {
    color: black;
    background-color: white;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }